<meta charset="utf-8">
<title>netwalk-vue demo</title>
<script src="https://unpkg.com/vue"></script>
<script src="./netwalk-vue.umd.js"></script>
<link rel="stylesheet" href="./netwalk-vue.css">

<div id="app">
  <demo></demo>
</div>

<script>
new Vue({
  components: {
    demo: netwalk-vue
  }
}).$mount('#app')
</script>
