<template>
  <div
    :class="$style.cell"
    :style="{
      width: `${styleVars.cellSizePx}px`,
      height: `${styleVars.cellSizePx}px`,
      backgroundColor: `${type !== 'empty' ? styleVars.cellColor : styleVars.emptyCellColor}`,

    }"
  >
    <svg
      v-if="connections.length > 0"
      :class="[$style.node]"
      version="1.1" xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="xMidYMid"
    >
      <g
        :class="$style.connections"
        :style="{
        fill: connected ? styleVars.connectionColorConnected : styleVars.connectionColor,
        transition: connectionsTransition,
        transform: `rotate(${rotationAngle}deg)`,
        }"
      >
        <!--up half-->
        <rect
          v-if="connectionParams.type === 'half' || connectionParams.type === 'elbow'"
          :height="`${50 + (styleVars.connectionWidthPercent / 2)}%`"
          :width="`${styleVars.connectionWidthPercent}%`"
          :x="`${50 - (styleVars.connectionWidthPercent / 2)}%`"
        >
        </rect>
        <!--right half-->
        <rect
          v-if="connectionParams.type === 'tee' || connectionParams.type === 'elbow'"
          :height="`${styleVars.connectionWidthPercent}%`"
          :width="`${50 + (styleVars.connectionWidthPercent / 2)}%`"
          :y="`${50 - (styleVars.connectionWidthPercent / 2)}%`"
          :x="`${50 - (styleVars.connectionWidthPercent / 2)}%`"
        />
        <!--vertical straight-->
        <rect
          v-if="connectionParams.type === 'straight' || connectionParams.type === 'tee' || connectionParams.type === 'crosshair'"
          height="100%"
          :width="`${styleVars.connectionWidthPercent}%`"
          :x="`${50 - (styleVars.connectionWidthPercent / 2)}%`"/>
        <!--horizontal straight-->
        <rect
          v-if="connectionParams.type === 'crosshair'"
          width="100%"
          :height="`${styleVars.connectionWidthPercent}%`"
          :y="`${50 - (styleVars.connectionWidthPercent / 2)}%`"
        />
      </g>
    </svg>
    <div
      v-if="type === 'provider'"
      :class="$style.provider"
      :style="{
      backgroundColor: styleVars.providerColor
      }"
    />
    <div
      v-if="type === 'consumer'"
      :class="$style.consumer"
      :style="{
      transition: consumerTransition,
      backgroundColor: connected ? styleVars.consumerColorConnected : styleVars.consumerColor
      }"
    />
    <div
      v-if="connections.length > 0 && connections.length < 4"
      :class="$style['rotate-layer']"
      @click="$emit('rotate-node')"
    />
  </div>
</template>

<script>
import { Cell, connectionTypes } from 'netwalk-core'

export default {
  name: 'Cell',
  components: {},
  data () {
    return {
      fullCircleCounter: 0
    }
  },
  props: {
    type: {
      validator: (value) => (value === null) || (typeof value === 'string'),
      required: true
    },
    connected: {
      type: Boolean,
      required: true
    },
    connections: {
      type: Array,
      required: true
    },
    styleVars: {
      type: Object,
      required: true
    }
  },
  watch: {
    connectionParams (newParams, prevParams) {
      if (newParams !== null && prevParams !== null) {
        if (prevParams.position !== 0 && newParams.position === 0) {
          this.fullCircleCounter++
        }
      }
    }
  },
  computed: {
    connectionParams () {
      return Cell.getConnectionParamsByConnections(this.connections)
    },
    connectionsTransition () {
      const { rotateAnimation, rotateAnimationDuration, colorAnimation, colorAnimationDuration } = this.styleVars

      const transformProperty = rotateAnimation ? `transform ${rotateAnimationDuration}` : ''

      const fillProperty = colorAnimation ? `fill ${colorAnimationDuration}` : ''
      const fillDelay = (transformProperty && fillProperty && this.connected) ? rotateAnimationDuration : ''
      const fullFillProperty = `${fillProperty} ${fillDelay}`

      return transformProperty + ((transformProperty && fullFillProperty) ? ', ' : '') + fullFillProperty
    },
    consumerTransition () {
      const { rotateAnimation, rotateAnimationDuration, colorAnimation, colorAnimationDuration } = this.styleVars

      const property = colorAnimation ? 'background-color' : ''
      const duration = colorAnimation ? colorAnimationDuration : ''
      const delay = rotateAnimation && this.connected ? rotateAnimationDuration : ''

      return `${property} ${duration} ${delay}`
    },
    rotationAngle () {
      const { position, type } = this.connectionParams
      return (position * 90) + (this.fullCircleCounter * (connectionTypes[type].length * 90))
    }
  }
}
</script>

<style lang="scss" module>
  .cell {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rotate-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    user-select: none;
  }

  .consumer, .provider {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .provider {
    width: 70%;
    height: 50%;
  }

  .consumer {
      width: 50%;
      height: 50%;
  }

  .node {
    position: absolute;
    // fix for firefox (remove gaps between cells)
    width: 101%;
    height: 101%;
  }

  .connections {
    transform-origin: center;
  }
</style>
