<template>
  <div :class="$style.container">
    <div
      ref="playingFieldWrapper"
      :class="$style['playing-field-wrapper']"
    >
      <playing-field
        :matrix="matrix"
        :style-vars="styleVars"
        @rotate-node="rotateNode"
      />
    </div>
  </div>
</template>

<script>
import elementResizeDetector from 'element-resize-detector'
import _debounce from 'lodash/debounce'

import PlayingField from './PlayingField.vue'

import { Netwalk } from 'netwalk-core'
const erd = elementResizeDetector()

const baseStyleVars = {
  cellSizePx: 50,
  connectionWidthPercent: 20,
  connectionColor: '#e1e1e1',
  connectionColorConnected: '#6b8fd4',

  cellColor: 'transparent',

  emptyCellColor: 'transparent',

  providerColor: '#ff6200',

  consumerColor: '#ffdc73',
  consumerColorConnected: '#ffbf00',

  rotateAnimation: true,
  rotateAnimationDuration: '200ms',
  colorAnimation: true,
  colorAnimationDuration: '150ms'
}

export default {
  name: 'NetwalkGame',
  components: {
    'playing-field': PlayingField
  },
  props: {
    fill: {
      type: Boolean,
      default: true
    },
    fillAnimationDelay: {
      type: Number,
      default: 0
    },
    randomize: {
      type: Boolean,
      default: true
    },
    randomizeAnimationDelay: {
      type: Number,
      default: 0
    },
    template: {
      type: Array
    },
    customStyle: {
      type: Object
    }
  },
  data () {
    return {
      filling: false,
      filled: false,
      randomizing: false,
      randomized: false,
      ready: false,
      started: false,
      finished: false,
      moves: 0,
      stopwatch: 0,
      matrix: [],
      matrixDimensions: {
        rows: 0,
        columns: 0
      },
      erd: false
    }
  },
  computed: {
    styleVars () {
      return Object.assign(baseStyleVars, this.customStyle)
    }
  },
  mounted () {
    if (this.template) {
      this.createNetwalkGame({ template: this.template })
    } else {
      this.installPlayingFiledWrapperWatcher()
    }
  },
  watch: {
    matrixDimensions: {
      handler (dimensions) {
        this.createNetwalkGame(dimensions)
      },
      deep: true
    },
    template: {
      handler (template) {
        if (template) {
          if (this.erd) this.uninstallPlayingFiledWrapperWatcher()
          this.createNetwalkGame({ template })
        } else {
          this.installPlayingFiledWrapperWatcher()
        }
      }
    },
    filling: {
      immediate: true,
      handler (value) {
        this.$emit('filling-change', value)
      }
    },
    filled: {
      immediate: true,
      handler (value) {
        this.$emit('filled-change', value)
      }
    },
    randomizing: {
      immediate: true,
      handler (value) {
        this.$emit('randomizing-change', value)
      }
    },
    randomized: {
      immediate: true,
      handler (value) {
        this.$emit('randomized-change', value)
      }
    },
    moves: {
      immediate: true,
      handler (value) {
        this.$emit('moves-change', value)
      }
    },
    stopwatch: {
      immediate: true,
      handler (value) {
        this.$emit('stopwatch-change', value)
      }
    },
    finished: {
      immediate: true,
      handler (value) {
        this.$emit('finished-change', value)
      }
    },
    started: {
      immediate: true,
      handler (value) {
        this.$emit('started-change', value)
      }
    }
  },
  methods: {
    playAgain () {
      this.createNetwalkGame()
    },
    getMatrixDimensions (width, height, cellSize) {
      function floorBy (value, multiplier) {
        return (value >= multiplier) ? (Math.floor(value / multiplier) * multiplier) : multiplier
      }

      const flooredWidth = floorBy(width, cellSize)
      const flooredHeight = floorBy(height, cellSize)

      const columns = flooredWidth / cellSize
      const rows = flooredHeight / cellSize

      return { rows, columns }
    },

    installPlayingFiledWrapperWatcher () {
      this.erd = true
      erd.listenTo(this.$refs.playingFieldWrapper, _debounce(() => {
        const playingFieldMaxW = this.$refs.playingFieldWrapper.offsetWidth
        const playingFieldMaxH = this.$refs.playingFieldWrapper.offsetHeight

        Object.assign(this.matrixDimensions, this.getMatrixDimensions(playingFieldMaxW, playingFieldMaxH, this.styleVars.cellSizePx))
      }, 300))

      this.$once('hook:beforeDestroy', function () { if (erd) erd.uninstall(this.$refs.playingFieldWrapper) })
    },

    uninstallPlayingFiledWrapperWatcher () {
      this.erd = false
      erd.uninstall(this.$refs.playingFieldWrapper)
    },

    createNetwalkGame () {
      if (this.netwalk) this.netwalk.destroy()

      const gameOptions = {
        fill: this.fill,
        fillAnimationDelay: this.fillAnimationDelay,
        randomize: this.randomize,
        randomizeAnimationDelay: this.randomizeAnimationDelay,

        movesChangeCallback: (value) => { this.moves = value },
        stopwatchChangeCallback: (value) => { this.stopwatch = value },
        finishedChangeCallback: (value) => { this.finished = value },
        startedChangeCallback: (value) => { this.started = value },
        matrixFillingChangeCallback: (value) => { this.filling = value },
        matrixFilledChangeCallback: (value) => { this.filled = value },
        matrixRandomizingChangeCallback: (value) => { this.randomizing = value },
        matrixRandomizedChangeCallback: (value) => { this.randomized = value }
        // matrixChangeCallback: () => { console.log(`matrix change`) }
      }
      if (this.template) {
        Object.assign(gameOptions, { template: this.template })
      } else {
        Object.assign(gameOptions, { ...this.matrixDimensions })
      }

      this.netwalk = new Netwalk(gameOptions)
      this.matrix = this.netwalk.matrix
    },

    rotateNode (id) {
      this.netwalk.rotateNode(id)
    }
  }
}
</script>

<style lang="scss" module>
  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .playing-field-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
</style>
