<template>
  <div :class="$style.container">
    <div
      v-for="(row, rowIndex ) in matrix"
      :key="`row-${rowIndex}`"
      :class="$style.row"
    >
      <cell
        v-for="cell in row"
        :key="`cell-${cell.id}`"
        :style-vars="styleVars"
        :type="cell.type"
        :connections="cell.connections"
        :connected="cell.connected"
        @rotate-node="$emit('rotate-node', cell.id)"/>
    </div>
  </div>
</template>

<script>
import Cell from './Cell.vue'

export default {
  name: 'PlayingField',
  components: {
    'cell': Cell
  },
  props: {
    matrix: {
      type: Array,
      required: true
    },
    styleVars: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" module>
  .container {
  }

  .row {
    display: flex;
  }
</style>
