<template>
  <div :class="$style.container">
    <netwalk-game
      :fill="true"
      :fillAnimationDelay="50"
      :randomize="true"
      :randomizeAnimationDelay="50"
      :template="template"
      :customStyle="{
      cellSizePx: 50,
      connectionWidthPercent: 15,
      }"
      @moves-change="(val) => log('moves-change', val)"
      @stopwatch-change="(val) => log('stopwatch-change', val)"
      @finished-change="(val) => log('finished-change', val)"
      @started-change="(val) => log('started-change', val)"
      @filling-change="(val) => log('filling-change', val)"
      @filled-change="(val) => log('filled-change', val)"
      @randomizing-change="(val) => log('randomizing-change', val)"
      @randomized-change="(val) => log('randomized-change', val)"
    />
  </div>
</template>

<script>
import NetwalkGame from './components/NetwalkGame.vue'

export default {
  name: 'app',
  data () {
    return {
      // template: template,
      template: null
    }
  },
  methods: {
    log(...values) {
      console.log(...values)
    }
  },
  components: {
    'netwalk-game': NetwalkGame
  }
}
</script>

<style lang="scss" module>
  body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    width: 100%;
    height: 100vh;
  }
</style>
